@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PERI.Agenda.Web.Models.NewPassword

<link href="~/strength.js/strength.css" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/strength.js/strength.js"></script>

<div class="container">
    <div class="panel-heading">
        <div class="panel-title text-center">
            <h3><span class='glyphicon glyphicon-ok'></span>&nbsp;&nbsp;&nbsp;Please fill-in your new password.</h3>
            <hr />
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.EndUser.UserId)

        <div class="form-group">
            <label>New password*</label>
            @Html.TextBoxFor(x => x.Password, new { @type = "password", placeholder = "New password", @class = "form-control", required = "required", @autocomplete = "off" })
        </div>
        <div class="form-group">
            <label>Re-enter new password*</label>
            @Html.TextBoxFor(x => x.ReenterPassword, new { @type = "password", placeholder = "Re-enter new password", @class = "form-control", required = "required", @autocomplete = "off" })
        </div>

        <center>
            @Html.ValidationSummary()
        </center>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    }

    @{
        Html.RenderPartial("Partial/Footer");
    }
</div>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $("#Password").strength({ strengthClass: 'strength', strengthButtonText: '' });
        });

    })(jQuery);
</script>